{{ define "header" }}
{{ partial "header.html" . }}
<section class="info">
    {{ with .Params.Author }}
    <span class="author">{{ . }}</span>
    {{ end }}
    <span class="date">{{ .Date.Format "2006, Jan 2" }}</span>

    <span>Tags:
    {{ range .Params.Tags }}
    <a href="/tags/{{ . | urlize }}">~{{ . }}</a>
    {{ end }}
    </span>

    <span>
    {{ range .Params.Category }}
    <a href="/categories/{{ . }}">[{{ . }}]</a>
    {{ end }}
    </span>
</section>
{{ end }}

{{ define "content" }}
<article>
{{ .Content }}
</article>
{{ end }}

{{ define "footer" }}
{{ partial "footer.html" . }}
{{ end }}
