body.grid {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr 60vw 1fr;
    grid-template-areas:
        "header header header"
        ". content ."
        "footer footer footer";
    grid-row-gap: 1rem;
    grid-column-gap: 1rem;
    align-items: space-between;
    height: 100vh;
}

@media all and (max-width: 580px) {
    body.grid {
        grid-template-columns: 1rem auto 1rem;
    }
}

.site-header {
    grid-area: header;
}

.site-content {
    grid-area: content;
}

.site-footer {
    grid-area: footer;
}
