// mixins go here

@mixin splash($h) {
    height: $h;
    width: 100%;

    display: flex;
    flex-flow: column nowrap;
    flex-grow: auto;
    align-items: center;
    justify-content: center;
}

@mixin box($bgc) {
    border-radius: $common-border-radius;
    background-color: $bgc;
    padding: .5rem 1rem;
    margin: 2rem 1rem;
}

@mixin flow($flex-flow, $justify, $align) {
    display: flex;
    flex-flow: $flex-flow;
    justify-content: $justify;
    align-items: $align;
}

@mixin scale($maxh, $maxw, $pad) {
    max-height: $maxh;
    max-width: $maxw;
    padding: $pad;
    vertical-align: middle;
}

@mixin zoom($perc) {
    z-index: 99;
    transform: scale($perc);
}
